.backGround {
    background: url("../../assets/images/bg-img.jpg");
    background-color: #222;
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

hr.sep-2 {
  border: 0; 
  height: 1px; 
  background-image: linear-gradient(to right, #f0f0f0, #00b9ff, #59d941, #f0f0f0);
  margin: 5% auto;
}

.fixed {
  position: fixed !important;
  top: 0;
}

.nameStyle {
  font-weight: bold !important;
  color: #86c232;
  font-size: 70px !important;
  padding: 1%
}

.preNameStyle {
  font-size: 50px !important;
}

.descriptionStyle {
  font-size: 20px !important;
  position: relative
}

.resume {
  left: 92%;
  bottom: 7%;
  position: fixed !important;
  color: aliceblue !important;
  background-color: #026670 !important;
}

.mail {
  left: 86%;
  bottom: 7%;
  position: fixed !important;
  color: aliceblue !important;
  background-color: #026670 !important;
}

.resumeMobile {
  left: 90%;
  bottom: 10%;
  position: fixed !important;
  color: aliceblue;
  background-color: #026670 !important;
}

@media (max-width: 1600px){
  .resume {
    left: 90%;
  }

  .mail {
    bottom: 17%;
    left: 90%
  }
}

@media (max-width: 1250px) {
  .resume {
    left: 88%
  }

  .mail {
    bottom: 17%;
    left: 88%
  }
}

@media (max-width: 1050px) {
  .resume {
    left: 85%;
  }

  .mail {
    left: 85%;
    bottom: 17%
  }
}

@media (max-width: 900px) {
  .nameStyle {
    font-size: 45px !important;
  }

  .preNameStyle {
    font-size: 30px !important;
  }

  .descriptionStyle {
    font-size: 15px  !important;
  }
}

@media (max-width: 600px) {
  .resumeMobile {
    left: 80%;
  }
}