.leftCard {
    height: 100%;
    width: 66%;
    float: right;
    margin: 0% 2% 5% 0%;
}

.rightCard {
    min-height: 100%;
    width: 26%;
    float: left;
    margin: 0% 0% 0% 2%;
}

.avatar {
    height: auto !important;
    width: auto !important;
    margin: 7%;
}

.avatarContent {
    border-bottom: 1px solid rgb(145, 143, 143);
    margin: 2% 5%;
}   

@media (max-width: 600px){
    .leftCard {
        width: 100%;
        margin: 2% 0%;
        float: none;
        scroll-behavior: smooth;
    }
    .rightCard {
        width: 100%;
        margin: 2% 0%;
        float: none
    }
}