.pageHeader {
    border-bottom: 5px solid red;
    width: 28%;
    color: maroon;
    margin: 10% auto 2% auto;
    text-align: center;
}

.lineBreaker {
    
}

@media (max-width: 600px) {
    .pageHeader {
        width: 50%
    }
}